.recentPosts-post {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 0.5rem 0rem;
}

.recentPosts-post h5 {
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  color: #1a1a1a;
  font-weight: 600;
}

.recentPosts-post p {
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  color: #aaa;
  font-weight: 600;
}
